@import "tailwindcss";

@font-face {
  font-family: "Japan Ramen";
  src: url("./fonts/japan-ramen.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.jp-font {
  font-family: "Japan Ramen", sans-serif;
}
